# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
